<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <img src="cuca.png" > 
</head>
<body>
  


  <h1>hola porfa sube una imagen "</h1>

  <form action="" method="POST" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/*">
  <button type="submit">
    vergacion nojoda subite 
  </button>
 
  
  
  
  
  </form>

    EL termo  
  </button>
 </form>
  <img src="no_nos_raspe_porfa.gif" alt="Funny image"> 
  

</body>

</html>
     